.dosImagenesContenedor {
    display: flex;
    justify-content: center;
}

.imagenIzquierda {
    width: 510px;
}

.gifDerecha {
    width: 300px;
}

.slideContent {
    text-align: center;
}