/* Contact.css */
.arrow {
  position: absolute;
  top: 50%;
  width: 40px; /* Ajusta el ancho según tus necesidades */
  height: 40px; /* Ajusta la altura según tus necesidades */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1; /* Ajusta el índice z según tus necesidades para que esté sobre el carrusel */
  font-size: 24px;
}

.arrow-prev {
  left: 200px; /* Ajusta la posición izquierda según tus necesidades */
}

.arrow-next {
  right: 200px; /* Ajusta la posición derecha según tus necesidades */
}


